@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/* color #FF8B00 */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 2rem 10rem;
    font-size: 18px;
}

.bgimage{
    background-image: url(images/banner3.png);
    width: 100%;
    height: 95vh;
    background-size: cover;
}

.logo{
    height: 30px;
    cursor: pointer;
    margin-left: -15px;
    transition-duration: .5s;
}

.logo:hover{
    height: 50px;
    cursor: pointer;
    margin-left: -30px;
    transform: rotate(180deg);
}

.navbar{
    display: flex;
}

.navul{
    display: flex;
    list-style: none;
    margin-left: 1%;
}
.navbtn:hover{
    color: #FF8B00;
}

.navbar a{
     text-decoration: none;
        color: black;
        margin-top: 10px;
        padding-left: 1rem;
        letter-spacing: 0px;
}

.form-text{
    margin-top: 5rem;
}

.header-h3{
    margin-top: 3rem;
    letter-spacing: 1px;
}

p{
    margin-top: 1rem;
    letter-spacing: 1px;
}

.telephone{
    text-decoration: none;
    color: black;
}
.telephone:hover{
    text-decoration: none;
    color: #FF8B00;
}

.fblink{
    text-decoration: none;
    color: black;
}
.fblink:hover{
    text-decoration: none;
    color: #FF8B00;
}

.header-h3-2{
    margin-top: 3rem;
    letter-spacing: 1px;
}

.header-btn{
    margin-top: 9rem;
    font-size: 18px;
    padding: 5px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: #FF8B00;
    border-color: #FF8B00;
    border-style: solid;
    animation-name: slidebtn;
    animation-duration: 1s;
    letter-spacing: 1px;
}
@keyframes slidebtn {
    from {transform: translateY(800px);}
    to {transform: translateY(0px)};
}
.header-btn:hover{
    margin-top: 9rem;
    font-size: 18px;
    padding: 5px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: #FF8B00;
    background-color: white;
    border-color: #FF8B00;
    border-style: solid;
    letter-spacing: 1px;
}

.cmd-btn{
    margin-top: 3rem;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: #b6373a;
    border-color: #b6373a;
    border-style: solid;
    animation-name: slidebtn2;
    animation-duration: 1s;
    letter-spacing: 1px;
    animation-delay: .2s;
}
@keyframes slidebtn2 {
    from {transform: translateX(-400px);}
    to {transform: translateX(0px)};
}

.cmd-btn:hover{
    margin-top: 3rem;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 20px;
    cursor: pointer;
    color: #b6373a;
    background-color: white;
    border-color: #b6373a;
    border-style: solid;
    letter-spacing: 1px;
}



@media only screen and (max-width: 500px){
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/* color #FF8B00 */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 2rem 1rem;
    font-size: 18px;
}

.bgimage{
    background-image: url(images/banner3.png);
    width: 100%;
    height: 95vh;
    background-size: cover;
}

.logo{
    height: 30px;
    cursor: pointer;
    margin-left: -15px;
    transition-duration: .5s;
}

.logo:hover{
    height: 50px;
    cursor: pointer;
    margin-left: -30px;
    transform: rotate(180deg);
}

.navbar{
    display: flex;
}

.navul{
    display: flex;
    list-style: none;
    margin-left: 1%;
}
.navbtn:hover{
    color: #FF8B00;
}

.navbar a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    padding-left: 1rem;
    letter-spacing: 0px;
    font-size: 10px;
}

.form-text{
    margin-top: 5rem;
}

.header-h3{
    margin-top: 3rem;
    letter-spacing: 1px;
}

p{
    margin-top: 1rem;
    letter-spacing: 1px;
}

.telephone{
    text-decoration: none;
    color: black;
}
.telephone:hover{
    text-decoration: none;
    color: #FF8B00;
}

.fblink{
    text-decoration: none;
    color: black;
}
.fblink:hover{
    text-decoration: none;
    color: #FF8B00;
}

.header-h3-2{
    margin-top: 3rem;
    letter-spacing: 1px;
}

.header-btn{
    margin-top: 9rem;
    font-size: 18px;
    padding: 5px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: #FF8B00;
    border-color: #FF8B00;
    border-style: solid;
    animation-name: slidebtn;
    animation-duration: 1s;
    letter-spacing: 1px;
    margin-left: 20px;
}
@keyframes slidebtn {
    from {transform: translateY(800px);}
    to {transform: translateY(0px)};
}
.header-btn:hover{
    margin-top: 9rem;
    font-size: 18px;
    padding: 5px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: #FF8B00;
    background-color: white;
    border-color: #FF8B00;
    border-style: solid;
    letter-spacing: 1px;
}

.cmd-btn{
    margin-top: 3rem;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: #b6373a;
    border-color: #b6373a;
    border-style: solid;
    animation-name: slidebtn2;
    animation-duration: 1s;
    letter-spacing: 1px;
    animation-delay: .2s;
    margin-left: 20px;
}
@keyframes slidebtn2 {
    from {transform: translateX(-400px);}
    to {transform: translateX(0px)};
}

.cmd-btn:hover{
    margin-top: 3rem;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 20px;
    cursor: pointer;
    color: #b6373a;
    background-color: white;
    border-color: #b6373a;
    border-style: solid;
    letter-spacing: 1px;
}
}